// Styles for the input area
@ffi-field-bg-colour: #fff;
@ffi-field-text-color: #333;
@ffi-field-border-width: 1px;
@ffi-field-border-color: #ccc;
@ffi-field-border-radius: 3px;
@ffi-field-box-shadow: inset 0 1px 3px #ddd;
@ffi-field-font-size: 14px;
@ffi-field-height: 30px;
@ffi-field-default-width: 350px;
@ffi-field-horizontal-padding: 4px + @ffi-field-border-width;

// Styles for the field value
@ffi-value-text-color: #333;

// Styles for the button
@ffi-button-bg-color: #eee;
@ffi-button-border-width: 1px;
@ffi-button-border-color: #ccc;
@ffi-button-text-color: #333;
@ffi-button-horizontal-padding: 10px;

@ffi-button-bg-color-hover: #f7f7f7;
@ffi-button-text-color-hover: #000;